<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>Dungeons | Task Dungeon</title>
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css">
  <link rel="stylesheet" href="/css/general.css">
</head>
<body>
  <div id="app">
    <v-app>
      <v-app-bar app>
        <v-tabs optional>
          <v-tab class="ml-auto" href="/profile">Profile</v-tab>
          <v-tab href="/dungeons">Dungeons</v-tab>
          <v-tab class="mr-auto" href="/logout">Logout</v-tab>
        </v-tabs>
      </v-app-bar>
      <v-main>
        <template v-if="dungeonsReceived">
          <v-row no-gutters align="center" justify="center" class="full-height pa-4 flex-column">
            <v-list dense nav min-width="300" class="rounded">
              <v-subheader>Your Dungeons</v-subheader>
              <v-list-item
                v-for="(dungeon, i) in dungeons"
                :key="i"
              >
                <v-list-item-content>
                  <v-list-item-title v-text="dungeon.name"></v-list-item-title>
                </v-list-item-content>
                <v-list-item-action v-if="dungeon.name !== 'My Dungeon'">
                  <v-btn icon>
                    <v-icon color="error" @click="deleteDungeon(i)">mdi-close-circle</v-icon>
                  </v-btn>
                </v-list-item-action>
                <v-list-item-action>
                  <v-btn icon :href="`/dungeon?id=${dungeon._id}`">
                    <v-icon color="primary">mdi-eye</v-icon>
                  </v-btn>
                </v-list-item-action>
              </v-list-item>
              <v-list-item>
                <v-btn
                  color="primary"
                  elevation="2"
                  @click="newDungeonDialog = true"
                  class="mx-auto mb-2"
                >New</v-btn>
              </v-list-item>
            </v-list>
            <v-list dense nav min-width="300" class="rounded mt-4">
              <v-subheader>Other Dungeons</v-subheader>
              <v-list-item
                v-for="(dungeon, i) in otherDungeons"
                :key="i"
              >
                <v-list-item-content>
                  <v-list-item-title v-text="dungeon.name"></v-list-item-title>
                </v-list-item-content>
                <v-list-item-action>
                  <v-btn icon :href="`/dungeon?join=${i}`">
                    <v-icon color="primary">mdi-eye</v-icon>
                  </v-btn>
                </v-list-item-action>
              </v-list-item>
            </v-list>
            <v-dialog v-model="newDungeonDialog" max-width="300">
              <v-card>
                <v-card-title class="pa-4">
                  <span class="mx-auto">Create Dungeon</span>
                </v-card-title>
                <v-card-text class="px-4 py-0">
                  <v-form v-model="newDungeonValid" @submit.prevent>
                    <v-text-field
                      v-model="newDungeonName"
                      label="Name"
                      outlined
                      required
                      :rules="nameRules"
                      :counter="30"
                      @change="checkNameValid"
                    ></v-text-field>
                    <p
                      class="text-center error--text mb-0"
                      v-show="!newDungeonNameValid"
                    >Name taken</p>
                  </v-form>
                </v-card-text>
                <v-card-actions class="pa-2">
                  <v-spacer></v-spacer>
                  <v-btn text @click="newDungeonDialog = false" class="ma-2">
                    Cancel
                  </v-btn>
                  <v-btn
                    color="primary"
                    text
                    @click="createDungeon"
                    class="ma-2"
                    :disabled="!newDungeonValid || !newDungeonNameValid"
                  >Create</v-btn>
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <v-dialog v-model="deleteDungeonDialog" max-width="300">
              <v-card>
                <v-card-title class="pa-4">
                  <span class="mx-auto">Delete Dungeon</span>
                </v-card-title>
                <v-card-text class="px-4 py-0 text-center">
                  Delete {{ dungeonIndexToDelete >= 0 ? dungeons[dungeonIndexToDelete].name : '' }}?
                </v-card-text>
                <v-card-actions class="pa-2">
                  <v-spacer></v-spacer>
                  <v-btn text @click="newDungeonDialog = false" class="ma-2">
                    Cancel
                  </v-btn>
                  <v-btn
                    color="error"
                    text
                    @click="confirmDungeonDelete"
                    class="ma-2"
                  >Delete</v-btn>
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-row>
        </template>
        <template v-else>
          <v-row no-gutters align="center" justify="center" class="full-height">
            <div>
              <p class="text-center">
                <v-progress-circular
                  indeterminate
                  color="primary"
                ></v-progress-circular>
              </p>
              <p>Loading dungeons...</p>
            </div>
          </v-row>
        </template>
      </v-main>
    </v-app>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="/js/vue-config.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/socket-client.js"></script>
  
  <script>
    const vue = new Vue({
      ...vueConfig,
      data: () => ({
        ...vueData,
        dungeons: [],
        otherDungeons: [],
        dungeonsReceived: false,
        newDungeonDialog: false,
        newDungeonName: '',
        nameRules: [
          v => !!v || 'Required',
          v => (v || '').length >= 5 || 'Min 5 characters',
          v => (v || '').length <= 30 || 'Max 30 characters',
        ],
        newDungeonValid: false,
        newDungeonNameValid: true,
        dungeonIndexToDelete: -1,
        deleteDungeonDialog: false,
      }),
      created() {
        socket.emit('fetch-dungeons');
      },
      methods: {
        createDungeon() {
          this.newDungeonDialog = false;
          socket.emit('create-dungeon', this.newDungeonName);
          this.newDungeonName = '';
        },
        checkNameValid() {
          for (const dungeon of this.dungeons) {
            if (dungeon.name === this.newDungeonName) {
              this.newDungeonNameValid = false;
              return;
            }
          }
          
          this.newDungeonNameValid = true;
        },
        deleteDungeon(index) {
          this.dungeonIndexToDelete = index;
          this.deleteDungeonDialog = true;
        },
        confirmDungeonDelete() {
          this.deleteDungeonDialog = false;
          socket.emit('delete-dungeon', this.dungeons[this.dungeonIndexToDelete]._id);
        },
      },
    });
  </script>
</body>
</html>