<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>Profile | Task Dungeon</title>
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div id="app">
    <v-app>
      <v-app-bar app>
        <v-tabs optional>
          <v-tab class="ml-auto" href="/profile">Profile</v-tab>
          <v-tab href="/dungeons">Dungeons</v-tab>
          <v-tab class="mr-auto" href="/logout">Logout</v-tab>
        </v-tabs>
      </v-app-bar>
      <v-main>
        <template v-if="profileReceived">
          <v-row no-gutters align="center" justify="center" class="full-height pa-4">
            <v-card min-width="300">
              <v-card-title class="flex-column flex-md-row">
                <v-badge
                  bottom
                  overlap
                  color="success"
                  :content="level"
                  class="mx-auto mx-md-0"
                >
                  <v-avatar
                    color="primary"
                    size="48"
                    @click="iconDialog = true"
                    class="cursor-pointer"
                  >
                    <v-img :src="`/icons/${profile.icon}.svg`"></v-img>
                  </v-avatar>
                </v-badge>
                <span class="ml-md-4 mt-4 mt-md-0">
                  {{ profile.name }}
                </span>
              </v-card-title>
              <v-card-text>
                <v-progress-linear
                  color="success"
                  height="24"
                  :value="xpPercent"
                  striped
                  class="rounded-pill"
                >
                  <template v-slot:default="{ value }">
                    <strong>{{ 100 - value }} XP to next level</strong>
                  </template>
                </v-progress-linear>
              </v-card-text>
              <v-card-actions class="px-4 pb-4 pt-0">
                <v-spacer></v-spacer>
                <v-btn color="error" elevation="2" @click="deleteAccountDialog = true">Delete Account</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
            <v-dialog v-model="iconDialog" max-width="300">
              <v-card>
                <v-card-title class="pa-4">
                  <span class="mx-auto">Change Icon</span>
                </v-card-title>
                <v-card-text class="px-4 py-0">
                  <v-row no-gutters class="ma-n2" justify="center">
                    <v-avatar
                      v-for="(icon, i) in icons"
                      :key="i"
                      color="primary"
                      size="48"
                      class="ma-2 cursor-pointer"
                      :class="{ 'selected-icon': selectedIcon === icon }"
                      @click="selectedIcon = icon"
                    >
                      <v-img :src="`/icons/${icon}.svg`"></v-img>
                    </v-avatar>
                  </v-row>
                </v-card-text>
                <v-card-actions class="pa-2">
                  <v-spacer></v-spacer>
                  <v-btn text @click="cancelIconChange" class="ma-2">
                    Cancel
                  </v-btn>
                  <v-btn color="primary" text @click="changeIcon" class="ma-2">
                    Change
                  </v-btn>
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <v-dialog v-model="deleteAccountDialog" max-width="300">
              <v-card>
                <v-card-title class="pa-4">
                  <span class="mx-auto">Delete Account</span>
                </v-card-title>
                <v-card-text class="px-4 py-0 text-center">
                  Are you sure to want to delete your account?
                </v-card-text>
                <v-card-actions class="pa-2">
                  <v-spacer></v-spacer>
                  <v-btn text @click="deleteAccountDialog = false" class="ma-2">
                    Cancel
                  </v-btn>
                  <v-btn
                    color="error"
                    text
                    class="ma-2"
                    href="/deleteaccount"
                  >Delete</v-btn>
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-row>
        </template>
        <template v-else>
          <v-row no-gutters align="center" justify="center" class="full-height">
            <div>
              <p class="text-center">
                <v-progress-circular
                  indeterminate
                  color="primary"
                ></v-progress-circular>
              </p>
              <p>Loading profile...</p>
            </div>
          </v-row>
        </template>
      </v-main>
    </v-app>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="/js/vue-config.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/socket-client.js"></script>
  
  <script>
    const vue = new Vue({
      ...vueConfig,
      data: () => ({
        ...vueData,
        profile: null,
        profileReceived: false,
        iconDialog: false,
        icons: [
          'brutal-helm',
          'overlord-helm',
          'spiked-dragon-head',
        ],
        selectedIcon: 'brutal-helm',
        deleteAccountDialog: false,
      }),
      created() {
        socket.emit('fetch-profile');
      },
      computed: {
        level() {
          return Math.floor(this.profile.xp / 100) + 1;
        },
        xpPercent() {
          return this.profile.xp % 100;
        },
      },
      methods: {
        changeIcon() {
          this.iconDialog = false;
          socket.emit('change-icon', this.selectedIcon);
        },
        cancelIconChange() {
          this.iconDialog = false;
          this.selectedIcon = this.profile.icon;
        },
      },
    });
  </script>
</body>
</html>